<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Template-Driven Form Validation</h3>

      <!-- sign up form -->
      <form name="form" (ngSubmit)="f.valid && onSubmit()" #f="ngForm">
        <!-- first name field -->
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" 
          [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required/>
          <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
              <div *ngIf="firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <!-- last name field -->
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" 
          [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required/>
          <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
              <div *ngIf="lastName.errors.required">Last Name is required</div>
            </div>
        </div>
        <!-- email field -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" 
          [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email/>
          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <!-- password name field -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" 
          [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="8"/>
          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <!-- submit and reset buttons -->
        <div class="form-group d-flex justify-content-between">
          <button class="btn btn-primary" type="submit">Submit</button>
          <button class="btn btn-primary" type="reset">Reset</button>
        </div>
      </form>

    </div>
  </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">status</th>
        <th scope="col">valid</th>
        <th scope="col">invalid</th>
        <th scope="col">pristine</th>
        <th scope="col">dirty</th>
        <th scope="col">touched</th>
        <th scope="col">untouched</th>
        <th scope="col">errors</th>
        <th scope="col">submitted</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>form</td>
        <td>{{f.status}}</td>
        <td>{{f.valid}}</td>
        <td>{{f.invalid}}</td>
        <td>{{f.pristine}}</td>
        <td>{{f.dirty}}</td>
        <td>{{f.touched}}</td>
        <td>{{f.untouched}}</td>
        <td></td>
        <td>{{f.submitted}}</td>
      </tr>
      <tr *ngFor="let control of f.controls | keyvalue">
        <td>{{control.key}}</td>
        <td>{{control.value.status}}</td>
        <td>{{control.value.valid}}</td>
        <td>{{control.value.invalid}}</td>
        <td>{{control.value.pristine}}</td>
        <td>{{control.value.dirty}}</td>
        <td>{{control.value.touched}}</td>
        <td>{{control.value.untouched}}</td>
        <td>
          <span *ngIf="control.value.errors">
            <span *ngFor="let error of control.value.errors | keyvalue">
              {{error.key}}
            </span>
          </span>
        </td>
        <td>{{control.value.submitted}}</td>
      </tr>

    </tbody>
  </table>
